/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body,
html {
    padding: 0;
    margin: 0;
    /*Fallback Background color incase a browser does not support gradient*/
    background-color: rgba(182, 182, 149, 0.692);
    background-image: linear-gradient(rgb(180, 180, 180), whitesmoke, rgb(180, 180, 180));
    min-height: 100%;
    max-width: 100vw;
}

body,
h1,
h2,
h3,
p,
a {
    font-family: 'Roboto', sans-serif;
}

.btn a {
    color: whitesmoke;
    text-decoration: none;
}

.nav,
.nav-link {
    color: black;
}


.lesson-card {
    margin-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}