{% extends "base.html" %}

{% block content %}
<!-- Headline section -->
<section class="container px-0 info-cont">
    <div class="col-12 text-center">
        <h3>
            Who are we?
        </h3>
    </div>
    <hr class="home-break-index">
    <br>
</section>

<!-- Different about us sections -->
<main class="about-main d-flex flex-nowrap">
    <div class="container-fluid">
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1691487115/received_172611130713732_wmhpdd.jpg"
                    alt="" class="about-img">
            </div>
            <div class="col-md-7 mt-3 order-top">
                <h3>Out Instructor</h3>
                <p>Some text here...</p>
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-7 mt-3 order-top">
                <h3>The ridetrack</h3>
                <p>Some text here...</p>
            </div>
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1691502265/123444577_184051683261535_824802158311214574_n_yjw2zu.jpg"
                    alt="" class="about-img">
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/c_scale,h_960,q_auto:best/v1691501957/240594785_373990104267691_8073872753669794635_n_xammpg.webp"
                    alt="" class="about-img">
            </div>
            <div class="col-md-7 mt-3 order-top">
                <h3>The Summer Pasture</h3>
                <p>Some text here...</p>
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-7 mt-3 order-top">
                <h3>The Stable</h3>
                <p>Some text here...</p>
            </div>
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1691502351/123466975_184051633261540_2718395644933478477_n_erz6k8.jpg"
                    alt="" class="about-img">
            </div>
        </div>
    </div>
</main>

<!-- Embedded Youtube Video-->
<div class="text-center yt-cont">
    <hr class="home-break-index">
    <br>
    <h3>Starhög Equestrian</h3>
    <p>Interested in how everything looks? Check out this video!</p>
    <div class="d-flex justify-content-center align-items-center">
        <iframe width="560" height="315" class="about-img" src="https://www.youtube.com/embed/4QcyivIFBHQ"
            title="Starhög Equestrian" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen aria-label="Video of the farm"></iframe>
    </div>
</div>

<!-- Google Maps API -->
<div class="map-container">
    <div id="map" class="about-img" data-api-key="{{ api_key }}" aria-label="Google map"></div>
</div>
{% endblock %}