{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- Headline section -->
<section class="container px-0 about-section">
    <div class="col-12 text-center">
        <h1>
            Who are we?
        </h1>
    </div>
    <hr class="home-break-index">
    <br>
</section>

<!-- Different about us sections -->
<div class="about-main d-flex flex-nowrap">
    <div class="container-fluid">
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-top">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1691487115/received_172611130713732_wmhpdd.jpg"
                    alt="" class="about-img">
            </div>
            <div class="col-md-7 mt-3 order-bot">
                <h3>Our Instructor</h3>
                <p>Meet Maria, a distinguished dressage rider whose journey has transcended the Grand Prix arena to
                    empower a new generation of enthusiasts. Having conquered the intricacies of Grand Prix
                    competitions, Maria now channels her expertise into teaching. With a discerning eye for detail and a
                    nurturing approach, she guides her students towards mastery, emphasizing the symbiotic partnership
                    between rider and horse.
                    <br>
                    <br>
                    Maria's legacy extends beyond medals; she molds well-rounded equestrians. Her lessons are a fusion
                    of classical wisdom and modern insights, fostering not only technical skill but also a profound
                    appreciation for the art of dressage. As a beacon of dedication, Maria inspires her students to
                    embrace values of care and empathy, ensuring her impact resonates far beyond the arena,
                    shaping the very essence of the equestrian world.</p>
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-7 mt-3 order-bot">
                <h3>The ridetrack</h3>
                <p>Nestled under the night sky, our lit-up riding arena is a place where magic happens. It's a spacious
                    20x60 meters, glowing softly with lights that make it come alive after dark. This is where riders
                    and their horses team up to create something beautiful. The special lighting makes everything look
                    like a graceful dance, whether it's trotting, cantering, or even jumping over obstacles.
                    <br>
                    <br>
                    But it's not just a pretty sight, it's a fun place to play and learn. There are different things to
                    jump over, like hurdles and bars, which makes practicing super exciting. No matter if you're new to
                    riding or really experienced, our arena is like a big playground where you and your horse can become
                    the best of buddies. As it's so spacious, it's possible to ride more than 1 at a time. With our
                    Instructors instruction, this ridetrack will become your next home!</p>
            </div>
            <div class="col-md-5 mt-3 order-top">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1691502265/123444577_184051683261535_824802158311214574_n_yjw2zu.jpg"
                    alt="" class="about-img">
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-top">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/c_scale,h_960,q_auto:best/v1691501957/240594785_373990104267691_8073872753669794635_n_xammpg.webp"
                    alt="" class="about-img">
            </div>
            <div class="col-md-7 mt-3 order-bot">
                <h3>The Summer Pasture</h3>
                <p>During the sunny months from May to October, our enchanting summer pasture becomes a haven for young
                    horses aged 1 to 3 years old. With nature as their playground, up to 10 playful foals and young
                    horses roam freely on about 6 hectares of lush, green land. It's like a horse wonderland where they
                    can stretch their legs, make new friends, and just be themselves.
                    <br>
                    <br>
                    Our team keeps a close watch on these young stars, visiting them at least twice a day to make sure
                    they're happy and healthy. Rain or shine, we're there to ensure they have everything they need. The
                    changing weather decides how long they get to enjoy this horsey paradise, but whether it's a long
                    summer or a shorter one, these young horses make the most of every moment. It's like a summer camp
                    for them, full of fun, growth, and the kind of memories that last a lifetime.</p>
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-7 mt-3 order-bot">
                <h3>The Stable</h3>
                <p>Nestled next to this vibrant pasture is our cozy barn, a home away from home for your
                    companions. With six spacious stalls, it's a haven of comfort and security. Each horse has their own
                    space, a place where they can rest and recharge after a day of adventure in the pasture. We
                    understand that horses are unique individuals, so we make sure they have everything they need, from
                    cozy bedding to fresh water, ensuring they're content and at ease.
                    <br>
                    <br>
                    We have two dedicated grooming areas complete with grooming supplies and a convenient water trough.
                    Our barn also features two spacious tack rooms, perfect for storing all your riding gear and
                    equipment. With plenty of room to organize saddles, bridles, and other essentials, you can rest
                    assured that your tack is well-cared-for and ready whenever you are.
                    When it comes to the daily essentials, our team has you covered. Feeding, mucking out stalls, and
                    turning horses in and out are all part of the routine. It's all about creating a seamless and
                    stress-free experience for both you and your horse, so you can focus on enjoying your time together.
                    <br>
                    <br>
                    In this carefully designed space, both horses and riders find a place where their needs are met and
                    their dreams can flourish. From the spacious stalls to the well-equipped tack rooms, every detail is
                    designed with care to ensure that your time at our barn is filled with joy and memorable moments.
                </p>
            </div>
            <div class="col-md-5 mt-3 order-top">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1691502351/123466975_184051633261540_2718395644933478477_n_erz6k8.jpg"
                    alt="" class="about-img">
            </div>
        </div>
    </div>
</div>

<section class="contact-us-banner text-center">
    <h4><a aria-label="go to the contact page" href="{% url 'contact' %}"><i class="fa-regular fa-envelope"></i>Contact
            us today!</a></h4>
</section>

<!-- Embedded Youtube Video-->
<div class="text-center yt-cont">
    <hr class="home-break-index">
    <br>
    <h3>Starhög Equestrian</h3>
    <p>Interested in how everything looks? Check out this video!</p>
    <div class="d-flex justify-content-center align-items-center">
        <iframe width="560" height="315" class="about-img" src="https://www.youtube.com/embed/4QcyivIFBHQ"
            title="Starhög Equestrian"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen aria-label="Video of the farm"></iframe>
    </div>
</div>

<!-- Google Maps API -->
<div class="map-container">
    <div id="map" class="about-img" data-api-key="{{ api_key }}"></div>
</div>

<!-- Google Maps scripts -->
<script src="{% static 'js/googleMaps.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
{% endblock %}