{% extends "base.html" %}

{% block content %}
<section class="container px-0 info-cont">
    <div class="col-12 text-center">
        <h3>
            Who are we?
        </h3>
    </div>
    <hr class="home-break-index">
    <br>
</section>

<main class="about-main d-flex flex-nowrap">
    <div class="container-fluid">
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1691487115/received_172611130713732_wmhpdd.jpg"
                    alt="" class="about-img">
            </div>
            <div class="col-md-7 mt-3 order-top">
                <h3>The Trainer</h3>
                <p>Some text here...</p>
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-7 mt-3 order-top">
                <h3>The ridetrack</h3>
                <p>Some text here...</p>
            </div>
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1689343976/star2_teltz6.jpg"
                    alt="" class="about-img">
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1691487115/received_172611130713732_wmhpdd.jpg"
                    alt="" class="about-img">
            </div>
            <div class="col-md-7 mt-3 order-top">
                <h3>The Trainer</h3>
                <p>Some text here...</p>
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-7 mt-3 order-top">
                <h3>The ridetrack</h3>
                <p>Some text here...</p>
            </div>
            <div class="col-md-5 mt-3 order-bot">
                <img src="https://res.cloudinary.com/draygqe7t/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1689343976/star2_teltz6.jpg"
                    alt="" class="about-img">
            </div>
        </div>
        <div class="row featurett">
            <div class="col-md-5 mt-3 order-bot">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="about-img" width="560" height="315" src="https://www.youtube.com/embed/4QcyivIFBHQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7 mt-3 order-top">
                <h3>The entire place</h3>
                <p>Watch a YouTube video covering all acres</p>
            </div>

        </div>
    </div>
    </div>
</main>
{% endblock %}