{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The best training for you and your horse!">
    <meta name="keywords" content="Equestrian, horses, training, lessons, dressage,">
    <meta name="author" content="Gustaf Starhög">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Starhogs Equestrian!</title>
</head>

<body>
    <!--Header will go here-->
    <h1>Starhögs Equestrian</h1>


    <!--Main contenct will go here-->
    <main>
        {% block content %}
        {% endblock content %}
    </main>


    <!--Footer will go here-->

    <!--Scripts will go here-->
</body>

</html>