{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The best training for you and your horse!">
    <meta name="keywords" content="Equestrian, horses, training, lessons, dressage,">
    <meta name="author" content="Gustaf Starhög">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://kit.fontawesome.com/955fb03de1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href=" {% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script>
        (function () {
            emailjs.init("8-ShgIUtEk--vDSsi");
        })();
    </script>
    <title>Starhogs Equestrian!</title>
</head>

<body>
    {% if user.is_authenticated %}
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <span><strong><a href="{% url 'account_login' %}">Login</a></strong></span> to book your lessons
        today!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!--Header-->
    <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand navbar-text" href="{% url 'Home' %}"> <span><img class="horse-logo"
                        src="{% static 'favicon/android-chrome-512x512.png' %}" alt="A Horse"></span>Starhögs
                Equestrian</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span>{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'my_bookings' %}">My Bookings</a></li>
                            <li><a class="dropdown-item" href="{% url 'CreateLessonBooking' %}">Book a lesson</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_details' %}">My Account</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li class=" nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Information messages for the user when performing an action-->
    <div class="container">
        <div class="row">
            <div>
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dissmissable fade show text-center" id="messages"
                    role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Main content-->
    <main>
        {% block content %}
        {% endblock content %}
    </main>


    <!--Footer-->
    <footer class="py-3 my4 footer-container border-top">
        <ul class="nav justify-content-center mb-3">
            <li class="nav-item">
                <a href="{% url 'Home' %}" class="nav-link px-2">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link px-2">About</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link px-2">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'my_bookings' %}" class="nav-link px-2">My Bookings</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_logout' %}" class="nav-link px-2">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'account_signup' %}" class="nav-link px-2">Register</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_login' %}" class="nav-link px-2">Log in</a>
            </li>
            {% endif %}
        </ul>
        <div class="container footer-container">
            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100057514326453" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/explore/locations/101763761490328/starhog-gard/" target="_blank"
                        rel="noopener" aria-label="Visit our Instagram page (opens in new tab)"><i
                            class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <p class="text-center">© 2023 Starhögs Equestrian</p>
    </footer>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/sendEmail.js' %}"></script>
</body>

</html>