{% extends "base.html" %}

{% block content %}

<div class="container contact-cont">
    <div class="card mb-4 mt-3">
        <div class="card-body">
            <h2 class="login-title">Contact us!</h2>
            <hr class="home-break">
            <br>
            <form method="post" class="ContactForm" onsubmit="return SendContactMail(this);">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="form-group button-group" id="contact-btns">
                    <button type="reset" class="btn btn-danger btn-lg" value="Reset">Cancel</button>
                    <button type="submit" class="btn btn-success btn-lg">Send Email</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}