{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Booking" %}{% endblock %}

{% block content %}
<div>
    <div class="container create-cont">
        <div class="card mb-4 mt-3">
            <div class="card-body">
                <!--Create booking page which is only being loaded if the user is authenticated-->
                {% if user.is_authenticated %}
                <h3 class="login-title">Book your lesson here</h3>
                <hr class="home-break">
                <br>
                <p data-username="{{ user.username }}">Name: {{ user.username }}</p>
                <p data-email="{{ user.email }}">Email: {{ user.email }}</p>
                <form method="post" class="booking-form" onsubmit="return sendMail(this);">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="#termsmodal" data-bs-toggle="modal" data-bs-target="#termsmodal">Read terms here</a>
                    </div>
                    <div class="form-group button-group">
                        <button type="reset" class="btn btn-danger btn-lg" value="Reset">Reset</button>
                        <button type="submit" class="btn btn-success btn-signup btn-lg">Confirm Booking</button>
                    </div>
                </form>
                {% endif %}
                <div class="modal fade" id="termsmodal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Terms of booking!</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <!--Terms modal which is being displayed if the user clicks terms of booking-->
                            <div class="modal-body">
                                Booking and Cancellation Policy:
                                <br>
                                By booking a lesson, you agree to our cancellation policy. To avoid being charged the
                                full amount, cancellations must be made at least 24 hours before the scheduled lesson
                                start time.
                                You can cancel your lesson by logging into your user profile and navigating to "My
                                bookings". Select the booking you wish to cancel and click the delete button.
                                <br>
                                <br>
                                In case of unforeseen circumstances preventing you from attending a booked lesson,
                                please notify us immediately by contacting us.
                                <br>
                                <br>
                                By using our services, you acknowledge that you have read and agreed to these Terms of
                                Service. If you have any questions or concerns regarding these Terms of Service, please
                                contact us.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}