{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Booking" %}{% endblock %}

{% block content %}
<main>
    <div id="calendar"></div>

    <div class="modal" id="bookingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose Date and Time for Lesson</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lessonDate">Date:</label>
                        <input type="date" class="form-control" id="lessonDate">
                    </div>
                    <div class="form-group">
                        <label for="lessonTime">Time:</label>
                        <input type="time" class="form-control" id="lessonTime">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Focus of the lesson:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Number of participants:</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choose your level:</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                    <label class="form-check-label" for="flexCheckDefault">
                        I agree and accept the booking terms.
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="bookLessonBtn">Continue</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}