{% extends "base.html" %}

{% block content %}
<div class="container delete-cont">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="login-title">Delete Booking</h1>
            <hr class="home-break">
            <br>
            <h3 class="text-center">Are you sure you want to delete the booking?</h3>
            <form class="text-center" method="post">
                {% csrf_token %}
                <input type="hidden" name="confirmation" value="True">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'my_bookings' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}