{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block content %}

<!-- Account Details page -->
<div class="container login-cont">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="login-title text center">Account Details</h1>
            <hr class="home-break">
            <br>
            <form method="POST" class="account-form">
                {% csrf_token %}
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ request.user.first_name }}"><br>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}"><br>
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" value="{{ request.user.email }}"><br>
                <label for="date_joined">Account Created:</label>
                <input type="text" id="date_joined" value="{{ user.date_joined|date:'Y-m-d H:i:s' }}" readonly>
                <div class="btns">
                    <a href="{% url 'home' %}" class="btn btn-danger btn-signup btn-sm">Cancel</a>
                    <button type="submit" class="btn btn-success btn-signup btn-sm">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}