{% extends "base.html" %}

{% block content %}


<div class="container px-2 py-3">
    <div class="row flex-md-row py-3 m-0">
        <div class="col-md-7 col-lg-5 align-self-center">
            <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1689344195/star1_bbge7i.jpg"
                class="img-fluid hero-img" alt="Image of the ridetrack">
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-5 col-lg-7 hero-info-div text-center">
            <h2 class="mt-4 mb-2 hero-text">Welcome back <span>{{ user.username }}</span>!</h2>
            <p class="info-text">We're so excited to see you again. Are you ready to take your
                riding to the next level?
            </p>
            <div class="lead mt-4 info-btn">
                <p>Book your next lesson today!</p>
                <a class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0"
                    href="{%  url 'CreateLessonBooking' %}">Book here!</a>
            </div>
        </div>
        {% else %}
        <div class="col-md-5 col-lg-7 hero-info-div text-center">
            <h2 class="mt-4 mb-2 hero-text">Get to Grand Prix level with us!</h2>
            <p class="info-text">We'll help you reach your goals!</p>
            <div class="lead mt-4 info-btn">
                <p>Get started today</p>
                <a class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0"
                    href="{%  url 'account_signup' %}">Sign Up!</a>
                <a class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0 login-btn"
                    href="{%  url 'account_login' %}">Log in!</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!--Information section-->
<section class="container px-0 info-cont">
    <div class="col-12 text-center index-info-section">
        <h3>
            What We Offer
        </h3>
    </div>
    <hr class="home-break-index">
    <br>

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="info-div">
                    <div class="info-icon">
                        <i class="fa-solid fa-horse-head"></i>
                    </div>
                    <div>
                        <h4>
                            Dressage Lessons
                        </h4>
                        <h5>Get personalized instruction from one of our experienced instructors, regardless of your
                            skill
                            level.</h5>
                        <p class="info-text">
                            Our dressage lessons are designed to help you improve your riding skills and build a strong
                            relationship with your horse. We offer lessons for all levels, from beginners to advanced
                            riders. Our instructors are passionate about teaching and they are committed to helping you
                            reach your goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="info-div">
                    <div class="info-icon">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div>
                        <h4>
                            Fully Equipped Stable
                        </h4>
                        <p class="info-text">
                            8 perfect stable boxes for your use!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="info-div">
                    <div class="info-icon">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div>
                        <h4>
                            Incredible Service
                        </h4>
                        <p class="info-text">
                            Service in worldclass is our motto!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="info-div">
                    <div class="info-icon">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div>
                        <h4>
                            Big Meadows
                        </h4>
                        <p class="info-text">
                            Service in worldclass is our motto!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="info-div">
                    <div class="info-icon">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div>
                        <h4>
                            Increadible Summer Pasture
                        </h4>
                        <p class="info-text">
                            Service in worldclass is our motto!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="info-div">
                    <div class="info-icon">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div>
                        <h4>
                            Value-for-money boarding
                        </h4>
                        <p class="info-text">
                            Our boarding is cost-effective and offers a high level of care.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

{%endblock%}