{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1689343976/star2_teltz6.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book your riding lesson today!</h5>
                <p class="card-text">Do you want to improve? Look no further!</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</section>

{%endblock%}