{% extends "base.html" %}

{% block content %}


<div class="container px-2 py-3">
    <div class="row flex-md-row py-3 m-0">
        <div class="col-md-7 col-lg-5 align-self-center p-0 pl-md-5 ">
            <img src="https://res.cloudinary.com/draygqe7t/image/upload/v1689344195/star1_bbge7i.jpg"
                class="img-fluid family-image" alt="family_dinner">
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-5 col-lg-7 hero-info-div text-center">
            <h1 class="mt-4 mb-2 hero-text">Welcome back</h1>
            <div class="lead mt-4">
                Book your next lesson today!
                <a class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0"
                    href="{%  url 'CreateLessonBooking' %}">Book here!</a>
            </div>
        </div>
        {% else %}
        <div class="col-md-5 col-lg-7 hero-info-div text-center">
            <h1 class="mt-4 mb-2 hero-text">Get to Grand Prix level with us!</h1>
            <div class="lead mt-4">
                Get started today <a class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0"
                    href="{%  url 'account_login' %}">Sign Up!</a>
            </div>
        </div>
        {% endif %}

        <!--Information section here....-->
    </div>
</div>
</section>

{%endblock%}