{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h2 class="login-title">My Bookings</h2>
<hr class="home-break">
<br>
<div class="container booking-cont">
    {% if user_bookings %}
    <div class="row">
        {% for booking in user_bookings %}
        <div class="col-lg-4 col-md-6 col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.lesson_date|date:"j F Y" }} kl.
                        {{ booking.lesson_time|time:"H:i" }}</h5>
                    <p class="card-text">Number of participants: {{ booking.no_participants }}</p>
                    <p class="card-text">Booking date: {{ booking.created_on }}</p>
                    <p class="card-text">Status:
                        <span class="{% if booking.booking_status == 1 %}text-success{% else %}text-danger{% endif %}">
                            {{ booking.get_booking_status_display }}
                        </span></p>
                    <p class="card-text">Focus for the lesson: {{ booking.focus_lesson }}</p>
                    <a href="{% url 'delete_booking' booking.booking_id %}"
                        class="btn btn-danger btn-signup btn-sm">Delete
                        Booking</a>
                    <a href="{% url 'update_booking' booking.booking_id %}"
                        class="btn btn-success btn-signup btn-sm">Update
                        Booking</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You have no bookings yet.</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}